---
import Layout from '@/layouts/Layout.astro';
import { getApology, getImageUrl } from '@/db';
import '@/style.css';

const { id } = Astro.params;

const response = await getApology(id as string);

const url = await getImageUrl(`${id}.jpg`);

if (response.status >= 400 || response.error || !url) {
  return Astro.redirect('/404');
}

const { data } = response.data?.[0];
const { apologizer, confession, apologizee } = data;

const imageSrc = url.data.publicUrl

const desc = `本人${apologizer}在此向${apologizee}道歉，${confession}`;
---

<Layout
  title={`來自${apologizer}的${apologizee}道歉表：`}
  ogDesc={desc}
  ogImage={imageSrc}
>
  <main>
    <img src={imageSrc} alt="apology" />
  </main>
  <div class="actions">
    <button onclick="location.href = '/'">再填一張</button>
  </div>
</Layout>

<style>
  img {
    height: 100%;
  }

  @media (width <=768px) {
    img {
      height: auto;
      width: 100%;
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .submit {
    position: absolute;
    bottom: 0em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    padding: 1em;
    gap: 1ch;

    & > button {
      padding: 0.2em 0.5em;
      font-size: 1em;
    }
  }
</style>
